<div id="Block4" class="col-xs-12 col-sm-12 col-md-12">
  <section id="footer" class="footer-divider">
    <div class="container">
      <div id="footer-widgets" class="row clearfix">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div class="span12">
            <img class="standard" src="/media/logo-lightx.png" style="height: 44px;width: 200px;">
          </div>
          <div class="span6">
            <section id="text-2" class="widget widget_text clearfix" itemscope itemtype="http://schema.org/Corporation">
              <div class="widget-heading clearfix">
                <h5 itemprop="name">Merapar</h5>
              </div>			
              <div class="textwidget" itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
                <span itemprop="streetAddress">De Run 841</span><br>
                <span itemprop="postalCode">5504 EP</span><br />
                <span itemprop="addressLocality">Veldhoven</span><br>
                <span itemprop="addressCountry">The Netherlands</span><br><br>
              </div>
              <div>
                <span>VAT nr: </span><span itemprop="taxID">NL 852742575 B 01</span>
                <span>Call: </span><a href="tel:+31402826147" itemprop="telephone" content="+31402826147">+31 40 282 6147</a><br>
                <span>Email: </span><a href="mailto:info@merapar.com" itemprop="email">info@merapar.com</a>
              </div>
            </section>
          </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <div id="socialmedia" style="float: right;">
            <h5 style="margin-top: 174px;">Visit us on social media</h5>
            <a href="https://www.facebook.com/merapar/" id="SocialIconF" target="_blank"></a>
            <a href="https://www.linkedin.com/company/merapar-technologies" id="SocialIconL" target="_blank"></a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-77466747-1', 'auto');
    ga('send', 'pageview');

  </script>
</body>
</html>
