{% include header.html %}
<div class="row content-header">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
      <h1>{{ page.title }}</h1>
      <p>{{ page.description }}</p>
    </div>
</div>
<div class="row content-body ul-merapar-icons">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-offset-2">
      <div class="clear-after">
        <p style="margin-bottom: 15px; float:left;">
          <strong>Location:</strong>
          <br/>{{ page.location }}
        </p>
        <p style="margin-bottom: 15px; float:right; text-align:right">
          <strong>Start date:</strong>
          <br/>{{ page.startdate }}
        </p>
      </div>
      {{ content }}
      <a id="applybutton" href="mailto:{{ page.mailaddress }}">Apply now</a>
    </div>
</div>
{% include footer.html %}
