{% include header.html %}
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok22" style="margin-top: -10px;">
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
    <div class="col-xs-12 col-sm-8 col-md-8" id="companytext">
    <h2>about us</h2>
      <p>Merapar Technologies is a software project and staffing company focussing on the development of scalable backend solutions using cloud-based technologies in (private) cloud environments using agile methodologies.</p>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok3">
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
    <div class="col-xs-12 col-sm-8 col-md-8" id="">
    <h2 id="block3top">about Merapar Technologies</h2>
      <p>Merapar was founded in 2013 by entrepreneurs and senior executives from the Telecoms, Media and Technology (TMT) sector, having served at companies such as Philips, SeaChange, Unity Media, NXP and Altice. Merapar soon became a leading investment and advisory firm in the TMT sector by leveraging the experiences and backgrounds of its founders. Out of these practices the requirement for a dedicated software development capability in scalable cloud solutions became apparent. As a result, Merapar Technologies was founded, as a spin off from its advisory practice.</p>

      <h2 id="Blok3sub">vision</h2>
      <p>Rapid development of IoT, mobile and e-commerce services is the key driver for highly scalable backend solutions in (private) cloud environments. The leading cloud-based service providers are taking full advantage of the open source community. </p>

      <h2 id="Blok3sub2">mission</h2>
      <p>Merapar Technologies is to become the trusted software services company for European cloud-based service providers in the TMT sector, from providing guidance from the first occurring business- and technology ideas, up to successful operational implementation.</p>

    </div>
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>
{% include footer.html %}
