{% include header.html %}

<div class="col-xs-1 col-sm-1 col-md-1" id=""></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok22" style="margin-top: -10px;">
  <div class="col-xs-0 col-sm-12 col-md-2" id=""></div>
  <div class="col-xs-12 col-sm-8 col-md-8" id="careerstext">
  <h2 id="servicetitle" class="servicetitle">our services</h2>
    <p>In need for intermediate staff to support your projects? Require a specialist for a specific assignment within a limited timeframe? Or do you want to make use of our technical experts for a longer period?</p>
  </div>
  <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok3">
  <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
  <div class="col-xs-12 col-sm-8 col-md-8" id="">
  <h2 id="subtitle">staffing</h2>
    <p>In need for intermediate staff to support your projects?  Require a specialist for a specific assignment within a limited timeframe? Or do you want to make use of our technical experts for a longer period? You can rely on the competences and experiences of our technology specialists for your software development and software integration projects.</p>
  <p>How can we assist you?</p>
  <p> •	Are you looking for an intermediate expert for specific job?</br> •	Can you find the appropriate candidate within the desired timeframe?</br> •	Do you expect temporary peaks in workload? ? </br>•	Do you need specific knowledge and experience to implement your complex software projects?</p><p>Our specialists make their knowledge count in your projects. We continuously invest in our teams by offering trainings in latest technologies and methodologies. In addition, we facilitate internal projects to build true experience and contribute to the open source community.</p><p>Please contact us for details on the variety of specialists and profiles we can provide!</p>
    <h2 id="subtitle1">software projects</h2>
    <p>We work in close cooperation with our customers, actively involve them in all aspects of the project, during its complete life-cycle. This results in a high level of transparency and aligned expectations. We analyse your requirements and focus on the features that will deliver the highest value to your business.</p>
  <p>Our project teams have a broad range of skills and profiles. Combining the various disciplines enables us to provide sophisticated software solutions according to industry best practices.</p>

  <p>We empower our customers by providing the right functionality at the right time, utilizing our combined experience, creativity and technical skills!</p>
  <h2 id="subtitle2con">consulting</h2>
  <p>Besides staffing and software development, Merapar Technologies provides comprehensive advice and guidance to organisations for the preparation, planning and implementation of cloud-based services in the Telecoms, Media and (High)Tech industries.</p>
  </div>
  <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>

{% include footer.html %}
