{% include header.html %}
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok22" style="margin-top: -10px;">
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
    <div class="col-xs-12 col-sm-8 col-md-8" id="careerstext">
    <h2 id="h2rule" class="techtitleafter">Our core values</h2>
      <p>The following eight core values drive our companies culture. These values help to create value for our clients, our people and our organisation.
    </p>
    </div>

</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok3">
    <div class="col-xs-0 col-sm-4 col-md-4" id=""></div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="careersblock1">
    <img class="alignnone wp-image-77 size-full" src="/media/Cloudvalues.png" alt="desk" width="50% !important" style="margin-bottom: -67px;">
    </div>
    <div class="col-xs-0 col-sm-4 col-md-4" id=""></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok3" style="padding-top: 10px !important;">
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="careersblock1">
    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true" style="    margin-top: 50px;">
      <div class="panel panel-default">
        <div class="panel-heading custonstylevalue" role="tab" id="headingOne">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
              Always learn <p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
          <div class="panel-body">
        It’s crucial to be curious and learn in order to keep up with the fast pace of technology.
          </div>
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading custonstylevalue" role="tab" id="headingTwo">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              Be agile <p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
          <div class="panel-body">
            Embrace challenges, listen to the customer and take initiative: be agile!
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="backgroundcolor">
        <div class="panel-heading custonstylevalue" role="tab" id="headingThree">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
              Deploy and release fast<p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
          <div class="panel-body">
            Deploying early means adding value fast. Moreover, short release cycles enable continues feedback, leading to solutions which fit the bill.
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="backgroundcolor">
        <div class="panel-heading custonstylevalue" role="tab" id="headingFour">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseThree">
              Support opensource<p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
          <div class="panel-body">
            Widely used and battle-proven code is the cornerstone of durable systems. And don’t forget to contribute!
          </div>
        </div>
      </div>
    </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4" id="careersblock1">
      <div class="panel-group" id="accordion1" role="tablist" aria-multiselectable="true" style="margin-top: 50px;">
        <div class="panel panel-default" id="backgroundcolor">
        <div class="panel-heading custonstylevalue" role="tab" id="headingFive">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
              Keep security in mind<p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseFive" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFive">
          <div class="panel-body">
            Right from the start, security is a first-class citizen. Design and develop with security in mind.
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="backgroundcolor">
        <div class="panel-heading custonstylevalue" role="tab" id="headingSix">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
              Inspect your results<p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseSix" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSix">
          <div class="panel-body">
            Reflection improves quality and performance. Whether you learn from past failures or repeat previous successes, reflection is key!
          </div>
        </div>
      </div>
        <div class="panel panel-default" id="backgroundcolor">
        <div class="panel-heading custonstylevalue" role="tab" id="headingSeven">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
              Deliver Quality<p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseSeven" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingSeven">
          <div class="panel-body">
            High quality is top priority! It is achieved by using well-proven patterns, apply modern technologies and utilise best-practices.
          </div>
        </div>
      </div>
      <div class="panel panel-default" id="backgroundcolor">
        <div class="panel-heading custonstylevalue" role="tab" id="headingEight">
          <h4 class="panel-title">
            <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion1" href="#collapseEight" aria-expanded="false" aria-controls="collapseThree">
          Be autonomous<p id="valueplus">+</p>
            </a>
          </h4>
        </div>
        <div id="collapseEight" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingEight">
          <div class="panel-body">
            Work as a team and take individual responsibility.
          </div>
        </div>
      </div>
    </div>
    </div>
      <!--<h2 id="afterservice1">Always learn</h2>
      <p>What you know now, is obsolete tomorrow. It’s important to keep up and be curious.</p>
      <h2 id="afterservice2">Be agile</h2>
      <p>Iterate in short increments and verify the results and approach. Constantly improve and adopt.</p>
      <h2 id="afterservice3">Deploy and release fast</h2>
      <p>It is important to deploy and make a statement. The earlier it’s out, the earlier it can add value and even be get better.</p>
      <h2 id="afterservice4">Support opensource</h2>
      <p>Code which is widely used and battle-proven builds a solid foundation for durable systems. And don’t forget to give back to the community.</p>
      <h2 id="afterservice5">Keep security in mind</h2>
      <p>Security is not a second class citizen and can not be applied later. Design and develop with security in mind.</p>
      <h2 id="afterservice6">Inspect your results</h2>
      <p>Reflection is one of the keys to understand and improve.</p>
      <h2 id="afterservice7">Deliver Quality</h2>
      <p>Robustness and quality are key goal, they can be achieved by using well-proven and patterns and accumulated best-practices.</p>
      <h2 id="afterservice8">Be autonomous</h2>
      <p></p>
    </div> -->
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>

<div class="col-xs-12 col-sm-12 col-md-12" id="Blok22" style="/*margin-top: 15px;*/">
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
    <div class="col-xs-12 col-sm-8 col-md-8" id="careerstext">
    <h2 id="h2rule" class="techtitleafter1">Our technologies</h2>
      <div class="alignleft2">
        <p>The Merapar technology landscape is broad and expanding. Our areas of expertise include:<br/><br/></p>
      <div class="alignleft">
        <p>
        •	Micro-service architectures<br/>
        •	Scalable enterprise solutions (Java Spring, Cassandra)<br/>
        •	Continues integration and delivery pipelines (Salt, Robot Framework, Jenkins)<br/>
        •	Cloud-based deployment (Docker, Kubernetes)<br/>
        </p>
        <img src="/img/APN_Standard_Consulting_Partner_transparent.png" alt="Logo AWS Comsulting Partner" style="width: 50%;" />
        <p>
        Merapar is a global Consulting Partner for AWS. The partnership is the fundament of our cloud solutions that make our solutions scalable, highly flexible, and cost effective.
        </p>
      </div>
      </div>
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>
<div class="col-xs-12 col-sm-12 col-md-12" id="Blok3">
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
    <div class="col-xs-12 col-sm-8 col-md-8" id="careersblock1">
    <img src="/media/technologies.png">
    </div>
    <div class="col-xs-0 col-sm-2 col-md-2" id=""></div>
</div>
{% include footer.html %}
